.login-container {
  position: relative;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url('/assets/images/hotel-logo.jpg') center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  animation: fadeIn 1s ease-in;
}

.login-box {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding: 2.5rem;
  border-radius: 1.25rem;
  width: 28rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.15);
  transform: translateY(0);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.login-box:hover {
  transform: translateY(-0.5rem);
}

/* Add this animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


.hotel-logo {
  text-align: center;
  margin-bottom: 30px;
}

.hotel-logo img {
  max-width: 1069px;
}

.login-title {
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.login-subtitle {
  color: #ddd;
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.1rem;
}

.input-group {
  position: relative;
  margin-bottom: 30px;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #0b7ccc;
}

input {
  width: 100%;
  padding: 15px 15px 15px 45px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  transition: all 0.3s ease;
}

input:focus {
  outline: none;
  border-color: rgba(8, 131, 216, 0.79);
  background: rgba(255, 255, 255, 0.15);
}

.animated-label {
  position: absolute;
  left: 45px;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
  pointer-events: none;
  transition: all 0.3s ease;
}

input:focus ~ .animated-label,
input:valid ~ .animated-label {
  top: -10px;
  left: 40px;
  font-size: 0.8rem;
  color: #0096fd;
}

.login-btn {
  background: #083a5e;
  color: #fff;
  border: none;
  padding: 15px 30px;
  width: 100%;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background: #083a5e;
  letter-spacing: 1px;
}

.login-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.login-links a {
  color: #ddd;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.login-links a:hover {
  color: #047bd1;
}
