 <div class="dashboard-container">
        <nav class="sidebar">
          <ul>
            <li><a routerLink="/dashboard" routerLinkActive="active">Ocupancy </a></li>
            <li><a routerLink="/dashboard/total-amount-by-year" routerLinkActive="active">Net Revenu By Booking channel / Room Type</a></li>
            <li><a routerLink="/dashboard/loyalty" routerLinkActive="active">Net Revenu By Loyalty Members / Reservation By Stay Reason</a></li>
            <li><a routerLink="/dashboard/extra" routerLinkActive="active">Extra Costs</a></li>

          </ul>
        </nav>
        <div class="content">
  <header>
    <h1>Net Revenu By Booking channel / Room Type</h1>
  </header>
  <iframe title="Reservation (5)" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=a9126b8d-fdc1-4f90-8e4b-5a69173c2417&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true"></iframe>

</div>

